.profile-card {
  background-color: white;
  overflow: hidden;
  width: 80%;
  margin: 0 auto;
}

.btn-back {
  background-color: transparent;
  border: none;
  font-weight: bold;
  padding-left: 0;
  padding-top: 6px;
  color: #464661;
  cursor: pointer;
}

.profile-header {
  color: #464661;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7px;
  padding-bottom: 10px;
}

.profile-header h2 {
  font-size: 22px;
  font-weight: 500;
}

.profile-content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 30px;
  border: 1px solid #eaecf0;
  border-radius: 4px;
}

.profile-avatar {
  display: flex;
  gap: 10px;
  align-items: center;
}

.profile-info {
  display: flex;
  flex-direction: column;
}

.profile-info h3 {
  font-size: 20px;
  margin: 0;
  color: #464661;
}
.profile-info p {
  font-size: 15px;
  margin: 0;
  color: #83839c;
}

.avatar-circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #faf8f8;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  font-weight: bold;
  color: #464661;
}

.profile-details {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.detail-row {
  margin-bottom: 12px;
  width: calc(50% - 10px);
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-width: 250px;
}

.detail-label {
  font-size: 16px;
  color: #83839c;
  font-weight: 500;
}

.detail-value {
  background-color: #faf8f8;
  padding: 10px;
  color: #464661;
  font-size: 15px;
  font-weight: 500;
}

@media (max-width: 768px) {
  .profile-card {
    width: 90%;
  }

  .profile-content {
    padding: 10px;
  }

  .detail-row {
    width: 100%;
    min-width: auto;
  }

  .avatar-circle {
    width: 50px;
    height: 50px;
    font-size: 24px;
  }

  .profile-header h2 {
    font-size: 20px;
  }
}
